<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538616009987-2g0c6bkt4kcvkohg5nrmgeqingnvs5tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538616009987-2g0c6bkt4kcvkohg5nrmgeqingnvs5tu</string>
	<key>API_KEY</key>
	<string>AIzaSyD1fU5wgnn789uWRt5SQlIqbQBvQSQu9YY</string>
	<key>GCM_SENDER_ID</key>
	<string>538616009987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.javarian.flutterboard.flutterBoard</string>
	<key>PROJECT_ID</key>
	<string>flutter-board-c78c2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-board-c78c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538616009987:ios:e33765dd5efc0fe1da8536</string>
</dict>
</plist>